<header>
  <nav>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="facesnaps" routerLinkActive="active">About School</a>
      <a routerLink="facesnaps" routerLinkActive="active">About School</a>
      <a routerLink="facesnaps" routerLinkActive="active">About us</a>
      <a routerLink="Sign up" routerLinkActive="active">Sign up</a>
      <a routerLink="Log in" routerLinkActive="active">Log in</a>
  </nav>

    <img src="assets/image/LOGO PROJET.png" alt="Logo" title="Logo">

</header>
