.blocp{
  border: 2px solid white; /* Définit une bordure solide de 2 pixels avec une couleur noire */
  padding: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}
img {
  width: 100px;
  display: flex;
}
.bloc1{
  display: flex;
  justify-content: center;

}
.bt1{
  margin-top: 35px;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px; /* Remplacez la valeur par celle de votre choix */
  margin-left: 230px;
}
 .sbloc{
  display: block;
  margin-left: 40px;

}
.circle-container {
  width: 150px; /* Ajustez la taille du cercle selon vos besoins */
  height: 150px; /* Assurez-vous que width et height ont la même valeur pour obtenir un cercle */
  border-radius: 50%; /* Applique la forme circulaire avec un rayon de 50% */
  overflow: hidden; /* Masque le contenu qui dépasse du cercle */
  background-color: #D9D9D9;
  margin-right: 70px;
}
.bloc2{
  display: flex;
  justify-content: center;
}
.sbloc2{
  margin-left: 30px;
}
.star {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}


.star:before, .star:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}

.star:before {
  border-width: 10px 7px 0 7px;
  border-bottom-color: orange;
  transform: translateY(-50%);
}

.star:after {
  border-width: 0 5px 10px 5px;
  border-top-color: orange;
  transform: translateY(-50%);
}

.star.selected i {
  color: orange;
}
.bloc3{
  display: flex;
  justify-content: center;

}
.commentaire{
  display: flex;
  justify-content: center;
  margin-top: 30px;

}
h4{
  text-align: center;
}
.bloc4{
  display: flex;
  justify-content: center;

}
.sb1{
  margin-right: 60px;
  border: 2px solid black; /* Définit une bordure solide de 2 pixels avec une couleur noire */
  border-radius: 10px;
  width: 197px;
  height: 122px;
  padding: 5px;
}
.sb2{
  border: 2px solid black; /* Définit une bordure solide de 2 pixels avec une couleur noire */
  border-radius: 10px;
  width: 197px;
  height: 122px;
  padding: 5px;
}
.bt{
  background-color: white;
  border-radius: 5px;
  margin-right: 15px;
}
#b{
  margin-top: 33px;
}
