h2{
  text-align: center;
}

.pre p{
display: flex;
text-align: justify;
margin-left: 280px;
}
.deu{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  text-align: center;
}
button{
  margin-left: 15px;
  border-radius: 5px;
  border-color: orange;
  background-color: white;
}

.titre{
  display: flex;
  margin-top: 60px;
  margin-left: 120px;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 4px;
}

